* {
  font-family: "Noto Sans JP", sans-serif;
  user-select: none;
}

body {
  overflow: hidden;
  margin: 0;
}

.darkmode {
  background-color: black;
  color: white;
}

.lightmode {
  background-color: white;
  color: black;
}

.loading {
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topRow {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  font-size: 40px;
  width: 95%;
}

i:hover {
  cursor: pointer;
}

.time {
  font-weight: 700;
  font-size: 100px;
}

.date {
  font-size: 20px;
  padding: 5px;
}

.switch {
  position: absolute;
  padding: 15px 25px;
  font-size: 35px;
}
