* {
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 300px;
}

.containerDark {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 300px;
}

.containerDark .taskActive {
  border-color: #fff132;
}

.task {
  display: flex;
  width: 320px;
  flex-direction: column;
  border: 3px solid #b3b3b3;
  border-radius: 35px;
  padding: 50px 20px;
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.taskClock {
  font-size: 30px;
  font-weight: 700;
  padding: 10px 20px;
}

.taskClock:hover {
  cursor: pointer;
}

.taskActive {
  display: flex;
  width: 320px;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 35px;
  padding: 50px 20px;
  margin: 20px;
  font-size: 20px;
  text-align: center;
}
